## <center>**MARIADB Databases : Implementation and Querying (With Indexing)**</center>
This notebook contains the code to establish the databases in Mariadb and to perform the required queries and note their times.

According to my roll number, the csv files I picked for creating these databases were :
- A-100
- A-1000
- A-10000
- B-100-3-1
- B-100-5-2
- B-100-10-1
- B-1000-5-2
- B-1000-10-4
- B-1000-50-2
- B-10000-5-1
- B-10000-50-2
- B-10000-500-1


The 9 databases formed according to question were therefore:
- **A_100, B_100_3_1 (db1)**
- **A_100, B_100_5_2 (db2)**
- **A_100, B_100_10_1 (db3)**
- **A_1000, B_1000_5_2 (db4)**
- **A_1000, B_1000_10_4 (db5)**
- **A_1000, B_1000_50_2 (db6)**
- **A_10000, B_10000_5_1 (db7)**
- **A_10000, B_10000_50-2 (db8)**
- **A-10000, B_10000_500_1 (db9)**

We start off by importing the required packages. <br>
**NOTE:** You will have to first install the packages by uncommenting the lines below if they are not already installed on your system.

In [1]:
#!pip3 install mariadb
import mariadb
import pandas as pd
from mariadb import Error
from time import time
import numpy as np
import csv

#### **Function to create a database**
This function creates a connection to the specified database and if it doesn't already exist, it creates that database.<br>
**NOTE:** This will cerate the database in the same directory as the notebook. IF you want a different path, specify it while passing the argument to the create_database function. Also change the username and password as per requirement

In [8]:
def create_connection1():
    
    connection = None
    try:
        connection = mariadb.connect(user="user1",
        password= "password1")
        c = connection.cursor()
        c.execute('DROP DATABASE if EXISTS dbi1;')
        c.execute('CREATE DATABASE dbi1;')
        #print(db)
    except Error as e:
        print(e)
    finally:
        if connection :
            connection.close()
            
            
def create_connection2():
    
    connection = None
    try:
        connection = mariadb.connect(user="user1",
        password= "password1")
        c = connection.cursor()
        c.execute('DROP DATABASE if EXISTS dbi2;')
        c.execute('CREATE DATABASE dbi2;')
        #print(db)
    except Error as e:
        print(e)
    finally:
        if connection :
            connection.close()
            
def create_connection3():
    
    connection = None
    try:
        connection = mariadb.connect(user="user1",
        password= "password1")
        c = connection.cursor()
        c.execute('DROP DATABASE if EXISTS dbi3;')
        c.execute('CREATE DATABASE dbi3;')
        #print(db)
    except Error as e:
        print(e)
    finally:
        if connection :
            connection.close()
            
def create_connection4():
    
    connection = None
    try:
        connection = mariadb.connect(user="user1",
        password= "password1")
        c = connection.cursor()
        c.execute('DROP DATABASE if EXISTS dbi4;')
        c.execute('CREATE DATABASE dbi4;')
        #print(db)
    except Error as e:
        print(e)
    finally:
        if connection :
            connection.close()
            
def create_connection5():
    
    connection = None
    try:
        connection = mariadb.connect(user="user1",
        password= "password1")
        c = connection.cursor()
        c.execute('DROP DATABASE if EXISTS dbi5;')
        c.execute('CREATE DATABASE dbi5;')
        #print(db)
    except Error as e:
        print(e)
    finally:
        if connection :
            connection.close()
            
def create_connection6():
    
    connection = None
    try:
        connection = mariadb.connect(user="user1",
        password= "password1")
        c = connection.cursor()
        c.execute('DROP DATABASE if EXISTS dbi6;')
        c.execute('CREATE DATABASE dbi6;')
        #print(db)
    except Error as e:
        print(e)
    finally:
        if connection :
            connection.close()
            
def create_connection7():
    
    connection = None
    try:
        connection = mariadb.connect(user="user1",
        password= "password1")
        c = connection.cursor()
        c.execute('DROP DATABASE if EXISTS dbi7;')
        c.execute('CREATE DATABASE dbi7;')
        #print(db)
    except Error as e:
        print(e)
    finally:
        if connection :
            connection.close()
            
def create_connection8():
    
    connection = None
    try:
        connection = mariadb.connect(user="user1",
        password= "password1")
        c = connection.cursor()
        c.execute('DROP DATABASE if EXISTS dbi8;')
        c.execute('CREATE DATABASE dbi8;')
        #print(db)
    except Error as e:
        print(e)
    finally:
        if connection :
            connection.close()
            
def create_connection9():
    
    connection = None
    try:
        connection = mariadb.connect(user="user1",
        password= "password1")
        c = connection.cursor()
        c.execute('DROP DATABASE if EXISTS dbi9;')
        c.execute('CREATE DATABASE dbi9;')
        #print(db)
    except Error as e:
        print(e)
    finally:
        if connection :
            connection.close()

In [9]:
create_connection1()
create_connection2()
create_connection3()
create_connection4()
create_connection5()
create_connection6()
create_connection7()
create_connection8()
create_connection9()

### <center>**Creating database tables and Importing data in db**</center>
#### **Function to create tables in database**
After creating the databases, next we create the tables inside the database and import data into those tables. Below is the function for that which takes as argument the database, and the two tables you want to import in that database .i.e. A and B. <br>
**NOTE:** Please take care while of the path while passing arguments to this function. While running, I had the csv files in the exact same directory. Mention the path correctly in case there is a different path. And take care of the username and password fields.

In [10]:
def create_tables(db, table1, table2):
    
    connection = mariadb.connect(user="user1",
    password= "password1",
    database= db)

    c = connection.cursor()
    
    c.execute('DROP TABLE if EXISTS B')
    c.execute('DROP TABLE if Exists A')

    c.execute('''CREATE TABLE A( A1 int,
                A2 text, 
                primary key( A1 ));''')

    c.execute('CREATE TABLE B( B1 int, B2 int, B3 varchar(255), primary key(B1), foreign key(B2) references A(A1) )')

    connection.commit()
    
    with open(table1, newline = '') as csvfile:
        reader = csv.reader(csvfile, delimiter=',')
        next(reader)
        for row in reader:
            A1 = int(row[0])
            A2 = row[1]
            c.execute(f'INSERT INTO A(A1, A2) VALUES("{A1}", "{A2}");')
    
    with open(table2, newline = '') as csvfile:
        reader = csv.reader(csvfile, delimiter=',')
        next(reader)
        for row in reader:
            B1 = int(row[0])
            B2 = int(row[1])
            B3 = row[2]
            c.execute(f'INSERT INTO B(B1, B2, B3) VALUES("{B1}", "{B2}", "{B3}");')
            
    connection.close()

#### **Database 1 - db1.db**

In [11]:
create_tables('dbi1', 'A-100.csv', 'B-100-3-1.csv')

#### **Database 2 - db2.db**

In [12]:
create_tables('dbi2', r'A-100.csv', r'B-100-5-2.csv')

#### **Database 3 - db3.db**

In [13]:
create_tables('dbi3', r'A-100.csv', r'B-100-10-1.csv')

#### **Database 4 - db4.db**

In [14]:
create_tables('dbi4', r'A-1000.csv', r'B-1000-5-2.csv')

#### **Database 5 - db5.db**

In [15]:
create_tables('dbi5', r'A-1000.csv', r'B-1000-10-4.csv')

#### **Database 6 - db6.db**

In [16]:
create_tables('dbi6', r'A-1000.csv', r'B-1000-50-2.csv')

#### **Database 7 - db7.db**

In [17]:
create_tables('dbi7', r'A-10000.csv', r'B-10000-5-1.csv')

#### **Database 8 - db8.db**

In [18]:
create_tables('dbi8', r'A-10000.csv', r'B-10000-50-2.csv')

#### **Database 9 - db9.db**

In [19]:
create_tables('dbi9', r'A-10000.csv', r'B-10000-500-1.csv')

### <center>**Querying the databases and finding time**</center>
#### **Function to run a query and report time**
This function loops 7 times and creates connection to each of the 9 databases one by one to execute the query passed on to it. <br>
*Since while executing on shell directly executes and then prints the query, so to counter the overhead the same thing has been followed while noting time. Data has been fetched and collected. Since the method has been appointed in all 4 versions, the overhead is cancelled*

In [2]:
def run_query(query):
    
    t = [[0] * 9] * 7
    for i in range(7):
        connection = mariadb.connect(user="user1", password= "password1", database = 'dbi1')
        c = connection.cursor()
        c.execute('RESET QUERY CACHE;')
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
        t[i][0] = toc - tic
        connection.close()
        
        connection = mariadb.connect(user="user1", password= "password1", database = 'dbi2')
        c = connection.cursor()
        c.execute('RESET QUERY CACHE;')
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
        t[i][1] = toc - tic        
        connection.close()
        
        connection = mariadb.connect(user="user1", password= "password1", database = 'dbi3')
        c = connection.cursor()
        c.execute('RESET QUERY CACHE;')
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
        t[i][2] = toc - tic
        connection.close()
        
        connection = mariadb.connect(user="user1", password= "password1", database = 'dbi4')
        c = connection.cursor()
        c.execute('RESET QUERY CACHE;')
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
        t[i][3] = toc - tic
        connection.close()
        
        connection = mariadb.connect(user="user1", password= "password1", database = 'dbi5')
        c = connection.cursor()
        c.execute('RESET QUERY CACHE;')
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
        t[i][4] = toc - tic
        connection.close()
        
        connection = mariadb.connect(user="user1", password= "password1", database = 'dbi6')
        c = connection.cursor()
        c.execute('RESET QUERY CACHE;')
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
        t[i][5] = toc - tic
        connection.close()
        
        connection = mariadb.connect(user="user1", password= "password1", database = 'dbi7')
        c = connection.cursor()
        c.execute('RESET QUERY CACHE;')
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
        t[i][6] = toc - tic
        connection.close()
        
        connection = mariadb.connect(user="user1", password= "password1", database = 'dbi8')
        c = connection.cursor()
        c.execute('RESET QUERY CACHE;')
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
        t[i][7] = toc - tic
        connection.close()
                
        connection = mariadb.connect(user="user1", password= "password1", database = 'dbi9')
        c = connection.cursor()
        c.execute('RESET QUERY CACHE;')
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
        t[i][8] = toc - tic
        connection.close()
        
    return t

### **Defining queries and time arrays**

In [3]:
query1 = 'SELECT * FROM A WHERE A1 <= 50'
query2 = 'SELECT * FROM B ORDER BY B3'
query3 = 'SELECT AVG(X.COL) FROM (SELECT COUNT(B2) AS COL FROM B GROUP BY B2) AS X'
query4 = 'SELECT A2, B1, B2, B3 FROM A, B WHERE A.A1 = B.B2'

In [4]:
time_q1 = [[0] * 9] * 7
time_q2 = [[0] * 9] * 7
time_q3 = [[0] * 9] * 7
time_q4 = [[0] * 9] * 7

### **Query 1 across all databases**

In [5]:
time_q1 = np.round(run_query(query1), 6)
print(time_q1)

[[1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]
 [1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]
 [1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]
 [1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]
 [1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]
 [1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]
 [1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]]

### **Query 2 across all databases**

In [6]:
time_q2 = np.round(run_query(query2), 6)
print(time_q2)

[[1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]
 [1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]
 [1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]
 [1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]
 [1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]
 [1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]
 [1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]]

### **Query 3 across all databases**

In [7]:
time_q3 = np.round(run_query(query3), 6)
print(time_q3)

[[0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]
 [0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]
 [0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]
 [0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]
 [0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]
 [0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]
 [0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]]

### **Query 4 across all databases**

In [8]:
time_q4 = np.round(run_query(query4), 6)
print(time_q4)

[[0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]
 [0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]
 [0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]
 [0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]
 [0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]
 [0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]
 [0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]]

In [9]:
print(time_q1)
print(time_q2)
print(time_q3)
print(time_q4)

[[1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]
 [1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]
 [1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]
 [1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]
 [1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]
 [1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]
 [1.06e-04 1.03e-04 1.04e-04 1.04e-04 9.50e-05 1.05e-04 1.06e-04 1.09e-04
  1.08e-04]]
[[1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]
 [1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]
 [1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]
 [1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]
 [1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]
 [1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]
 [1.17e-04 9.80e-05 1.16e-04 9.60e-05 9.80e-05 1.05e-04 1.00e-04 1.24e-04
  9.90e-05]]
[[0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]
 [0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]
 [0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]
 [0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]
 [0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]
 [0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]
 [0.000112 0.000107 0.000134 0.000124 0.000136 0.00013  0.000133 0.000117
  0.00012 ]]
[[0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]
 [0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]
 [0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]
 [0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]
 [0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]
 [0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]
 [0.000117 0.000154 0.000182 0.000203 0.000176 0.000136 0.000116 0.00012
  0.000116]]

### **Saving times collected to csv**

In [14]:
import csv
with open("t1.csv", "w+") as my_csv:
    writer = csv.writer(my_csv, delimiter=',')
    writer.writerows(time_q1)

In [15]:
with open("t2.csv", "w+") as my_csv:
    writer = csv.writer(my_csv, delimiter=',')
    writer.writerows(time_q2)

In [16]:
with open("t3.csv", "w+") as my_csv:
    writer = csv.writer(my_csv, delimiter=',')
    writer.writerows(time_q3)

In [17]:
with open("t4.csv", "w+") as my_csv:
    writer = csv.writer(my_csv, delimiter=',')
    writer.writerows(time_q4)