## <center>**SQLITE 3 Databases : Implementation and Querying**</center>
This notebook contains the code to establish the databases in SQLite3 and to perform the required queries and note their times.

According to my roll number, the csv files I picked for creating these databases were :
- A-100
- A-1000
- A-10000
- B-100-3-1
- B-100-5-2
- B-100-10-1
- B-1000-5-2
- B-1000-10-4
- B-1000-50-2
- B-10000-5-1
- B-10000-50-2
- B-10000-500-1


The 9 databases formed according to question were therefore:
- **A_100, B_100_3_1 (db1)**
- **A_100, B_100_5_2 (db2)**
- **A_100, B_100_10_1 (db3)**
- **A_1000, B_1000_5_2 (db4)**
- **A_1000, B_1000_10_4 (db5)**
- **A_1000, B_1000_50_2 (db6)**
- **A_10000, B_10000_5_1 (db7)**
- **A_10000, B_10000_50-2 (db8)**
- **A-10000, B_10000_500_1 (db9)**

We start off by importing the required packages. <br>
**NOTE:** You will have to first install the packages by uncommenting the lines below if they are not already installed on your system.

In [1]:
#pip install sqlite3
#!pip install pandas
#!pip install numpy
import sqlite3
import pandas as pd
from sqlite3 import Error
from time import time
import numpy as np

#### **Function to create a database**
This function creates a connection to the specified database and if it doesn't already exist, it creates that database.<br>
**NOTE:** This will cerate the database in the same directory as the notebook. IF you want a different path, specify it while passing the argument to the create_database function.

In [71]:
def create_connection(db):
    
    connection = None
    try:
        connection = sqlite3.connect(db)
        print(db)
    except Error as e:
        print(e)
    finally:
        if connection :
            connection.close()

In [72]:
create_connection('db1.db')
create_connection("db2.db")
create_connection("db3.db")
create_connection("db4.db")
create_connection("db5.db")
create_connection("db6.db")
create_connection("db7.db")
create_connection("db8.db")
create_connection("db9.db")

db1.db
db2.db
db3.db
db4.db
db5.db
db6.db
db7.db
db8.db
db9.db

### <center>**Creating database tables and Importing data in db**</center>
#### **Function to create tables in database**
After creating the databases, next we create the tables inside the database and import data into those tables. Below is the function for that which takes as argument the database, and the two tables you want to import in that database .i.e. A and B. <br>
**NOTE:** Please take care while of the path while passing argumwnts to this function. While running, I had the csv files in the exact same directory. Mention the path correctly in case there is a different path.

In [12]:
def create_tables(db, table1, table2):
    
    connection = sqlite3.connect(db)
    c = connection.cursor()

    c.execute('DROP TABLE if Exists A')
    c.execute('CREATE TABLE A( A1 int, A2 string, primary key(A1))')

    c.execute('DROP TABLE if EXISTS B')
    c.execute('CREATE TABLE B( B1 int, B2 int, B3 string, primary key(B1), foreign key(B2) references A(A1) )')

    connection.commit()
    
    data = pd.read_csv(table1)
    data.to_sql('A', connection, if_exists = 'append', index = False)
    print("TABLE A\n", data.head(), '\n')
    
    data = pd.read_csv(table2)
    data.to_sql('B', connection, if_exists = 'replace', index = False)
    print("TABLE B\n", data.head())
    
    connection.commit()
    connection.close()

#### **Database 1 - db1.db**

In [13]:
create_tables(r'db1.db', r'A-100.csv', r'B-100-3-1.csv') #take care of the paths here and in the following functions

TABLE A
    A1   A2
0   1  P-1
1   2  P-2
2   3  P-3
3   4  P-4
4   5  P-5

TABLE B
    B1  B2            B3
0   1   1     meghavana
1   2   1           guh
2   3   1      mAMsepad
3   4   2  uttarapurANa
4   5   3   uttamarNika

#### **Database 2 - db2.db**

In [14]:
create_tables(r'db2.db', r'A-100.csv', r'B-100-5-2.csv')

TABLE A
    A1   A2
0   1  P-1
1   2  P-2
2   3  P-3
3   4  P-4
4   5  P-5

TABLE B
    B1  B2           B3
0   1   1       lAlATi
1   2   1   rAmayantra
2   3   1  rAtraubhava
3   4   1  vidyunmukha
4   5   2     gharaTTa

#### **Database 3 - db3.db**

In [15]:
create_tables(r'db3.db', r'A-100.csv', r'B-100-10-1.csv')

TABLE A
    A1   A2
0   1  P-1
1   2  P-2
2   3  P-3
3   4  P-4
4   5  P-5

TABLE B
    B1  B2            B3
0   1   1      pracArin
1   2   1     zilAsveda
2   3   1   gaurIpASANa
3   4   2  anaGgalatikA
4   5   2       zilpikA

#### **Database 4 - db4.db**

In [16]:
create_tables(r'db4.db', r'A-1000.csv', r'B-1000-5-2.csv')

TABLE A
    A1   A2
0   1  P-1
1   2  P-2
2   3  P-3
3   4  P-4
4   5  P-5

TABLE B
    B1  B2          B3
0   1   1    sasAgara
1   2   1    prAtibhA
2   3   1  tittirAGga
3   4   2  vanaprakSa
4   5   3  durnivArya

#### **Database 5 - db5.db**

In [17]:
create_tables(r'db5.db', r'A-1000.csv', r'B-1000-10-4.csv')

TABLE A
    A1   A2
0   1  P-1
1   2  P-2
2   3  P-3
3   4  P-4
4   5  P-5

TABLE B
    B1  B2               B3
0   1   1  sarasvatItantra
1   2   1      kavirahasya
2   3   2           upapRR
3   4   3     sadratnamAlA
4   5   3      anumadhyama

#### **Database 6 - db6.db**

In [18]:
create_tables(r'db6.db', r'A-1000.csv', r'B-1000-50-2.csv')

TABLE A
    A1   A2
0   1  P-1
1   2  P-2
2   3  P-3
3   4  P-4
4   5  P-5

TABLE B
    B1  B2          B3
0   1   1   khagendra
1   2   1      asvaka
2   3   1      bRsikA
3   4   1    zrImukhI
4   5   1  caityataru

#### **Database 7 - db7.db**

In [19]:
create_tables(r'db7.db', r'A-10000.csv', r'B-10000-5-1.csv')

TABLE A
    A1   A2
0   1  P-1
1   2  P-2
2   3  P-3
3   4  P-4
4   5  P-5

TABLE B
    B1  B2              B3
0   1   1        sAraNika
1   2   1          jalaja
2   3   1    sadratnamAlA
3   4   1  halAyudhastava
4   5   1         hRdgata

#### **Database 8 - db8.db**

In [21]:
create_tables(r'db8.db', r'A-10000.csv', r'B-10000-50-2.csv')

TABLE A
    A1   A2
0   1  P-1
1   2  P-2
2   3  P-3
3   4  P-4
4   5  P-5

TABLE B
    B1  B2            B3
0   1   1   dAragrahaNa
1   2   1  aJjalikarman
2   3   1     vanarAjya
3   4   1        vAtAri
4   5   1     saralAGga

#### **Database 9 - db9.db**

In [22]:
create_tables(r'db9.db', r'A-10000.csv', r'B-10000-500-1.csv')

TABLE A
    A1   A2
0   1  P-1
1   2  P-2
2   3  P-3
3   4  P-4
4   5  P-5

TABLE B
    B1  B2             B3
0   1   1         nikSip
1   2   1      amantraka
2   3   1  brahmAdrijAtA
3   4   1    aprahRSTaka
4   5   1       yazaskRt

### <center>**Querying the databases and finding time**</center>
#### **Function to run a query and report time**
This function loops 7 times and creates connection to each of the 9 databases one by one to execute the query passed on to it. <br>
*Since while executing on shell directly executes and then prints the query, so to counter the overhead the same thing has been followed while noting time. Data has been fetched and collected. Since the method has been appointed in all 4 versions, the overhead is cancelled*

In [2]:
def run_query(query):
    
    t = [[0] * 9] * 7
    for i in range(7):
        connection = sqlite3.connect('db1.db')
        c = connection.cursor()
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
    #    print(toc - tic, '   ')
        t[i][0] = toc - tic
        connection.close()
        
        connection = sqlite3.connect('db2.db')
        c = connection.cursor()
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
   #     print(toc - tic, '   ')
        t[i][1] = toc - tic        
        connection.close()
        
        connection = sqlite3.connect('db3.db')
        c = connection.cursor()
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
    #    print(toc - tic, '   ')
        t[i][2] = toc - tic
        connection.close()
        
        connection = sqlite3.connect('db4.db')
        c = connection.cursor()
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
   #     print(toc - tic, '   ')
        t[i][3] = toc - tic
        connection.close()
        
        connection = sqlite3.connect('db5.db')
        c = connection.cursor()
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
        #print(toc - tic, '   ')
        t[i][4] = toc - tic
        connection.close()
        
        connection = sqlite3.connect('db6.db')
        c = connection.cursor()
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
       # print(toc - tic, '   ')
        t[i][5] = toc - tic
        connection.close()
        
        connection = sqlite3.connect('db7.db')
        c = connection.cursor()
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
      #  print(toc - tic, '   ')
        t[i][6] = toc - tic
        connection.close()
        
        connection = sqlite3.connect('db8.db')
        c = connection.cursor()
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
     #   print(toc - tic, '   ')
        t[i][7] = toc - tic
        connection.close()
                
        connection = sqlite3.connect('db9.db')
        c = connection.cursor()
        tic = time()
        c.execute(query)
        x = c.fetchall()
        toc = time()
    #    print(toc - tic, '   ')
        t[i][8] = toc - tic
        connection.close()
       # print('\n')
        
    return t

### **Defining queries and time arrays**

In [3]:
query1 = 'SELECT * FROM A WHERE A1 <= 50'
query2 = 'SELECT * FROM B ORDER BY B3'
query3 = 'SELECT AVG(X.COL) FROM (SELECT COUNT(B2) AS COL FROM B GROUP BY B2) AS X'
query4 = 'SELECT A2, B1, B2, B3 FROM A, B WHERE A.A1 = B.B2'

In [4]:
time_q1 = [[0] * 9] * 7
time_q2 = [[0] * 9] * 7
time_q3 = [[0] * 9] * 7
time_q4 = [[0] * 9] * 7

### **Query 1 across all databases**

In [5]:
time_q1 = np.round(run_query(query1), 6)
print(time_q1)

[[9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]
 [9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]
 [9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]
 [9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]
 [9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]
 [9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]
 [9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]]

### **Query 2 across all databases**

In [6]:
time_q2 = np.round(run_query(query2), 6)
print(time_q2)

[[2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]
 [2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]
 [2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]
 [2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]
 [2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]
 [2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]
 [2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]]

### **Query 3 across all databases**

In [7]:
time_q3 = np.round(run_query(query3), 6)
print(time_q3)

[[2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]
 [2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]
 [2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]
 [2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]
 [2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]
 [2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]
 [2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]]

### **Query 4 across all databases**

In [8]:
time_q4 = np.round(run_query(query4), 6)
print(time_q4)

[[1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]
 [1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]
 [1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]
 [1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]
 [1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]
 [1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]
 [1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]]

In [9]:
print(time_q1)
print(time_q2)
print(time_q3)
print(time_q4)

[[9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]
 [9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]
 [9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]
 [9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]
 [9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]
 [9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]
 [9.10e-05 9.00e-05 9.10e-05 9.30e-05 9.20e-05 9.20e-05 1.18e-04 9.70e-05
  9.30e-05]]
[[2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]
 [2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]
 [2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]
 [2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]
 [2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]
 [2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]
 [2.775350e-01 5.720000e-04 6.530000e-04 3.894000e-03 7.423000e-03
  3.774400e-02 5.127000e-02 4.045410e-01 6.528475e+00]]
[[2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]
 [2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]
 [2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]
 [2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]
 [2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]
 [2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]
 [2.920000e-04 2.640000e-04 3.100000e-04 1.508000e-03 2.590000e-03
  9.439000e-03 1.655500e-02 1.251050e-01 4.013321e+00]]
[[1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]
 [1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]
 [1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]
 [1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]
 [1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]
 [1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]
 [1.97479e-01 5.48000e-04 7.94000e-04 4.41900e-03 7.77700e-03 3.35330e-02
  4.93070e-02 3.48745e-01 5.35809e+00]]

### **Saving times collected to csv**

In [10]:
import csv
with open("t1.csv", "w+") as my_csv:
    writer = csv.writer(my_csv, delimiter=',')
    writer.writerows(time_q1)

In [11]:
with open("t2.csv", "w+") as my_csv:
    writer = csv.writer(my_csv, delimiter=',')
    writer.writerows(time_q2)

In [12]:
with open("t3.csv", "w+") as my_csv:
    writer = csv.writer(my_csv, delimiter=',')
    writer.writerows(time_q3)

In [13]:
with open("t4.csv", "w+") as my_csv:
    writer = csv.writer(my_csv, delimiter=',')
    writer.writerows(time_q4)